.aboutJumbotron {
  background-image: url(https://image.slidesharecdn.com/gopro7-141120213056-conversion-gate02/95/slide-3-1024.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: black;
}
